body {
	background-color: #eb8a60;
}
.websitetitle {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #f2f2f2;
	text-align: center;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}
.navigation li {
	display: inline;
}
