body {
	background-color: #eb8a60;
	width: 50px;
	height: 30px;
}
.websitetitle {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #f2f2f2;
	text-align: center;
	height: 50px;
	width: 1200px;
	margin: 0px;
	padding: 0px;
}
.navigation li {
	display: inline;
	color: #F2F2F2;
	font-family: "Times New Roman", Times, serif;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-decoration: none;
}
